body{
    background-image:url("../images/memphis-colorful.png")


}

.mid-detail .reg a:hover{
    text-decoration:underline;
}

.nav-wrapper ul li a :active{
    color:grey;
}

.media-body a :hover{
    color:#7FFF00;
}