{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>{% block title %}Favfl{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  type="text/css" href="{% static 'styles/styles.css' %}">
</head>
<body>
{% block body %}
<div class="flex-container">
    <!-- nav bar-->
    <nav>
        <div class="nav-wrapper" style="background-color:#141518;">
            <div class="container nav-wrapper">
                <a href="#!" class="brand-logo" style="color:#7FFF00;">Favflamz CBT Test</a>
                <ul class="right hide-on-med-and-down">
                <li><a href=""><i class="fa fa-home" style="font-size:30px; color:#7FFF00;"></i></a></li>
                <li><a href=""><i class="fa fa-user-circle" style="font-size:30px; color:#7FFF00;"></i></a></li>
                <li><a href="signup/"><i class="fa fa-pencil-square-o" style="font-size:30px; color:#7FFF00;"></i></a></li>
              </ul>
            </div>
        </div>

    </nav>

    <!-- content and register button-->

    <div class="mid-detail">
        <div class="container header" style="color:grey; padding-left:150px; padding-top:40px;"><h3><em>Welcome to Favflamz CBT Test</em></h3></div>

    </div>
    <div class="container form" style="padding-left:200px; padding-top:20px;">
        <div class="signinform" style=" padding-right:30px; padding-left:30px; padding-top:20px; border:1px solid grey; background: linear-gradient(to bottom, #669999 0%, #66ff33 100%); width:500px; height:300px;">
            <em style="padding-left:150px; font-size:20px; color::#141518;">Login in form</em>
            <form action="" method="post" style="color:black;">
                {% csrf_token %}
                <b>{{formu}}</b>

                <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:green; ">
                    Sign in
                     <i class="fa fa-send" style="color:white;" ></i>
                </button>

            </form>

            <p style="text-align:center;">Join the platform by clicking</p>
            <div class="container reg" style="padding-left:70px; padding-top:50px;">
                <a href="signup/" style="font-size:24px; color:#7FFF00	; border:1px solid #7FFF00; padding:10px;background-color:#808080;">Sign up<i class="fa fa-pencil-square-o" style="color:#7FFF00; padding:10px; padding-top:9px;"></i></a>

            </div>
        </div>
    </div>


    <!-- next page button-->
    <div class="container button" style="padding-left:750px; padding-bottom:60px; padding-top:60px;">
        <a href="instruct/">
          <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:green; color:white;">
              Proceed
              <i class="fa fa-arrow-right" style="color:black;" ></i>
              <i class="fa fa-arrow-right" style="color:black;" ></i>
          </button>
       </a>
    </div>

    <!---footer-->

    <footer class="page-footer" style="background-color:#141518;">
        <div class="container">
            <div class="row" >
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="syllabus/">Latest jamb syllabus</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!"><em>| Favflamz project</em></a>
            </div>
        </div>
    </footer>


</div>


{% endblock %}



</body>
</html>